body{
	background-color: #fbebea;
	width: 1365px;
}

.cake {

	margin-left: 73px;
	margin-top: 63px;
	font-family: 'Playfair Display', serif;
	font-size: 23px;
	font-weight: bold;

}

ul{

	margin-left: 121px;
	margin-top: -20px;

}

.menu {
	
	margin: 0;
	display: inline;
	padding: 4px;
	position: relative;
	margin-left: 5%;
	margin-top: 350px;
	

}
a {

	color: #2d2829;
	text-decoration: none;
	/*margin-left: 50px;
	margin-top: 0px;*/
}

a:active {

	color:red;

}


.contacts{
	
	position: relative;
	text-align: right;
	margin-right: 73px;
	margin-top: -35px;
	font-weight: bold;

}


main {

	position: absolute;
	left: 70px;
	top: 100px;

}



.icon1 {

	position: relative;
	left: 1000px;
	bottom: 500px;
	
}

.icon2 {

	position: relative;
	left: 800px;
	bottom: 350px;
	
}

.icon3 {

	position: relative;
	left: 600px;
	bottom: 150px;
	
}


.tortic{
	
	position: absolute;
	margin-top: -500px;
	right: -700px;

}

.tortzak {
	color: #2e2829;
	font-family: 'Playfair Display', serif;
	font-size: 78px;


}

.rabota {
	color: #2e2829;
	font-size: 40px;
	position: relative;
	bottom: 30px;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

.button {

	position: relative;
	top: 70px;
	left: -275px;
	background-color: #f20c4d;
	width: 225px;
	height: 50px;
	text-align: center;
	border-radius: 50px;
	color: #fff;

}

.indos {

	position: relative;
	top: 125px;	


}

.btnvibrat {

	width: 180px;
	height: 50px;
	background-color: #f20c4d;
	border-radius: 30px;

}

